name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  test_lint_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install
        working-directory: backend
        run: npm ci

      - name: Test
        working-directory: backend
        run: npm test

      - name: Lint
        working-directory: backend
        run: npm run lint

      - name: Docker build
        run: docker build -t devops-pipeline-final:ci .
